.commentsDivInitial{
    display: none;
}
.commentsDivAfterClick{
    display: block;
}

.commentsTable{
    margin: 3%;
}

.name{
    color: #0085a1;
}

.message{
    display: none;
}

.messageActivated{
    display: block;
}

.approveBtn{
    display: block;
}

.approveBtnRemoved{
    display: none;
}

.deleteCommentButton{
    margin: 2%;
}

.deleteCommentButtonDeactivated{
    display: none;
}

.messageDeletePost{
    display: none;
}

.messageDeleted{
    display: block;
}

.messageDeleteAdvert{
    display: none;
}

.messageDeleteAdvertActivated{
    display: block;
}

img {
    max-width: 100%;
    display: block;
    
  }


.logo{
    width: 18%;
}

.img-logo{
    border-radius: 50%;
}

.imgAd{
    margin: 0 auto;
    min-width: 25%;
    min-height: 25%;
}